.table-tag {
  margin-top: 10px;
}

.table-tag > .cds--tag:nth-child(1) {
  width: 100px;
}

.table-tag > .cds--tag:nth-child(2) {
  width: 75px;
}

.move-object {
  vertical-align: middle;
}

.bottom-space {
  padding-bottom: 50px;
}
