.table-tag {
  justify-content: right;
  display: flex;
  margin-top: 10px;
}

.table-tag > .cds--tag:nth-child(1) {
  width: 100px;
}

.table-tag > .cds--tag:nth-child(2) {
  width: 75px;
}

.move-object {
  vertical-align: middle;
}
